//https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
$outlineColor: #0077b6;
$navbarBackgroundColor: #0096c7;
$postOutlineColor: #00b4d8;
$textColor: #03045e;
$gradiantColor1: #caf0f8;
$gradiantColor2: #ade8f4;
$borderColor: #00b4d8;
$buttonColor: #90e0ef;
$imageOutlineColor: #0077b6;
//https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
// $outlineColor: #0077b6;
// $navbarBackgroundColor: #99d98c;
// $postOutlineColor: #52b69a;
// $textColor: #184e77;
// $gradiantColor1: #d9ed92;
// $gradiantColor2: #b5e48c;
// $borderColor: #76c893;
// $buttonColor: #52b69a;
// $imageOutlineColor: #34a0a4;
//34A0A4
//168AAD
//1A759F
//1E6091
//#8FFFEF
// $outlineColor: #c9cad9;
// $navbarBackgroundColor: #d1d2f9;
// //$postOutlineColor: #69c6f5;
// $postOutlineColor: #a3bcf9;
// $textColor: #7796cb;
// $gradiantColot: #576490;

:root {
  body,
  ul,
  li {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  h1 {
    color: red;
  }

  .test {
    color: blue;
  }

  .hidden {
    display: none;
  }
  body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
  }
  @media (max-width: 450px) {
    .nav-bar-container {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      height: 6vh;
      justify-content: space-between;
      align-items: center;

      background-color: $navbarBackgroundColor;
      .button {
        display: flex;
        font-weight: 700;
        font-size: 1.5rem;
        color: white;
        margin: 0 10px;
        height: 90%;
        align-items: center;
        border-radius: 20%;
        padding: 0 10px;
      }
      .back-button {
        cursor: pointer;
      }
      .nav-bar-title {
        display: flex;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        line-height: inherit;
      }
    }

    .main-container {
      width: 100%;
      padding-top: 1vh;
      margin-top: 6vh;
      display: block;
      min-height: 93vh;
      background: linear-gradient(
        to bottom right,
        $gradiantColor1,
        $gradiantColor2
      );
      .main-feed-section {
        .post-list {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          .post-item {
            display: flex;
            width: 100%;
            height: 40vh;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .postAtag {
              width: 96%;
              height: 96%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 2%;
              border-radius: 10%;
              border: 3px solid $postOutlineColor;
              background-color: rgba(255, 255, 255, 0.4);

              .img-box {
                display: flex;
                width: 40%;
                height: 90%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5%;
                }
              }
              .post-container {
                display: flex;
                flex-grow: 3;
                flex-wrap: wrap;
                width: 60%;
                height: 90%;
                padding: 1%;
                color: $textColor;
                min-width: 0;
                flex: 1 1 auto;

                .post-title {
                  display: inline-flex;
                  align-items: center;
                  font-size: 2rem;
                  height: 20%;
                  font-weight: 700;
                  border-bottom: 1px solid $postOutlineColor;
                  text-align: center;
                  justify-content: flex-start;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                }
                .post-content {
                  display: flex;
                  width: 100%;
                  font-size: 1rem;
                  height: 80%;
                  //flex-basis: auto;
                  justify-content: flex-start;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
      .detail-section {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        border: 2px solid $borderColor;
        box-sizing: border-box;
        .post-section {
          width: 100%;
          height: 92vh;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          border: 2px solid $borderColor;
          box-sizing: border-box;

          .post-image-container {
            display: flex;
            width: 100%;
            height: 30%;
            .post-image {
              display: flex;
              object-fit: cover;
              width: 100%;
              height: 100%;
              border: 5px solid $imageOutlineColor;
              box-sizing: border-box;
            }
          }
          .post-container {
            display: flex;
            flex-wrap: wrap;

            width: 100%;
            height: 70%;
            flex-direction: column;
            border: 2px solid $borderColor;
            box-sizing: border-box;

            .button-container {
              display: flex;
              width: 100%;
              justify-content: flex-end;
              .button {
                font-size: 2rem;
                color: $textColor;
                position: sticky;
                margin-top: 0.3rem;
                margin-right: 0.3rem;
              }
            }
            .post-title {
              display: flex;
              width: 100%;
              flex-grow: 1;
              text-align: center;
              font-size: 3rem;
              font-weight: 700;
              justify-content: center;
              align-items: center;
              border: 1px solid $borderColor;
              color: $textColor;
              overflow: auto;
            }
            .post-content {
              display: flex;
              align-items: flex-start;
              width: 100%;
              flex-grow: 9;
              color: $textColor;
              white-space: normal;
              padding: 10px;
              overflow: auto;
              word-break: break-all;
            }
            .post-content::-webkit-scrollbar {
              width: 8px;
            }
          }
        }
        .comment-section {
          display: flex;
          flex-grow: 3;
          width: 20%;
          height: 92vh;
          flex-direction: column;
          justify-content: space-between;
          .comment-list {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            overflow-y: auto;
            .comment-item {
              display: flex;
              width: 100%;
              align-items: center;
              border-bottom: 1px solid $borderColor;
              .comment-content {
                width: 100%;
                word-break: break-all;
              }
              .remove-button {
                display: inline;
                padding-top: 0.3rem;
                color: $textColor;
                cursor: pointer;
              }
            }
          }
          .comment-input-form {
            display: flex;
            height: 3vh;
            width: 100%;
            input {
              width: 80%;
              border: none;
            }
            div {
              text-align: center;
              width: 20%;
              font-size: 1rem;
              cursor: pointer;
              box-sizing: border-box;
              background-color: $buttonColor;
            }
          }
        }
      }
      .edit-post-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        input {
        }
        .edit-post-form {
          width: 100%;
          position: relative;
          .edit-post-title {
            width: 100%;
            height: 2rem;
            border: none;
            box-sizing: border-box;
            border-bottom: 1px solid $borderColor;
            background-color: rgba(255, 255, 255, 0.4);
            font-size: 2rem;
            text-align: center;
          }
          .edit-post-content {
            width: 100%;
            height: 50vh;
            box-sizing: border-box;
            border: none;
            font-size: 1rem;
            background-color: rgba(255, 255, 255, 0.4);
          }
          .submit-button {
            border: 1px solid $borderColor;
            color: $textColor;
            border-radius: 5px;
          }
        }
        .set-image-container {
          width: 100%;
          border: 1px solid $borderColor;
          box-sizing: border-box;
          height: 30vh;
          position: relative;
          .set-image-viewer {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .button {
            font-size: 2rem;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            cursor: pointer;
            position: absolute;
          }
          .upload-image-button {
            left: 3rem;
          }
        }
      }
    }
  }
  @media (min-width: 450px) {
    .nav-bar-container {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      height: 6vh;
      justify-content: space-between;
      align-items: center;

      background-color: $navbarBackgroundColor;
      .button {
        display: flex;
        font-weight: 700;
        font-size: 3rem;
        color: white;
        margin: 0 10px;
        height: 90%;
        align-items: center;
        border-radius: 20%;
        padding: 0 10px;
      }
      .back-button {
        cursor: pointer;
      }
      .nav-bar-title {
        display: flex;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        line-height: inherit;
      }

      .new-post-button {
      }
    }

    .main-container {
      padding-top: 1vh;
      margin-top: 6vh;
      display: block;
      min-height: 93vh;
      background: linear-gradient(
        to bottom right,
        $gradiantColor1,
        $gradiantColor2
      );
      .main-feed-section {
        .post-list {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          .post-item {
            display: flex;

            width: 30%;
            height: 40vh;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .postAtag {
              width: 96%;
              height: 96%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 2%;
              border-radius: 10%;
              border: 3px solid $postOutlineColor;
              background-color: rgba(255, 255, 255, 0.4);

              .img-box {
                display: flex;
                width: 40%;
                height: 90%;
                img {
                  width: 100%;
                  height: 100%;
                  //border: 2px solid green;
                  object-fit: cover;
                  border-radius: 5%;
                }
              }
              .post-container {
                display: flex;
                flex-grow: 3;
                flex-wrap: wrap;
                width: 60%;
                height: 90%;
                padding: 1%;
                color: $textColor;
                min-width: 0;
                flex: 1 1 auto;

                .post-title {
                  display: inline-flex;
                  align-items: center;
                  font-size: 2rem;
                  height: 20%;
                  font-weight: 700;
                  border-bottom: 1px solid $postOutlineColor;
                  text-align: center;
                  justify-content: flex-start;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                }
                .post-content {
                  display: flex;
                  width: 100%;
                  font-size: 1rem;
                  height: 80%;
                  //flex-basis: auto;
                  justify-content: flex-start;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
      .detail-section {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        border: 2px solid $borderColor;
        box-sizing: border-box;
        .post-section {
          width: 80%;
          height: 92vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $borderColor;
          box-sizing: border-box;

          .post-image-container {
            display: flex;
            width: 50%;
            height: 100%;
            .post-image {
              display: flex;
              object-fit: cover;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              border: 5px solid $imageOutlineColor;
            }
          }
          .post-container {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;

            width: 50%;
            height: 100%;
            flex-direction: column;
            border: 2px solid $borderColor;
            box-sizing: border-box;
            .button-container {
              display: flex;
              width: 100%;
              justify-content: flex-end;
              .button {
                font-size: 2rem;
                color: $textColor;
                position: sticky;
                margin-top: 10px;
                margin-right: 10px;
              }
            }
            .post-title {
              display: flex;
              width: 100%;
              flex-grow: 1;
              text-align: center;
              font-size: 3rem;
              font-weight: 700;
              justify-content: center;
              align-items: center;
              border: 1px solid $borderColor;
              color: $textColor;
              overflow: auto;
            }
            .post-content {
              display: flex;
              align-items: flex-start;
              width: 100%;
              flex-grow: 9;
              color: $textColor;
              white-space: normal;
              padding: 10px;
              overflow: auto;
              word-break: break-all;
            }
            .post-content::-webkit-scrollbar {
              width: 8px;
            }
          }
        }
        .comment-section {
          display: flex;
          flex-grow: 3;
          width: 20%;
          height: 92vh;
          flex-direction: column;
          justify-content: space-between;
          .comment-list {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            overflow-y: auto;
            .comment-item {
              display: flex;
              width: 100%;
              align-items: center;
              border-bottom: 1px solid $borderColor;
              .comment-content {
                width: 100%;
                word-break: break-all;
              }
              .remove-button {
                display: inline;
                padding-top: 0.3rem;
                color: $textColor;
                cursor: pointer;
              }
            }
          }
          .comment-input-form {
            display: flex;
            height: 3vh;
            width: 100%;
            input {
              width: 80%;
              border: none;
            }
            div {
              text-align: center;
              width: 20%;
              font-size: 1rem;
              cursor: pointer;
              box-sizing: border-box;
              background-color: $buttonColor;
            }
          }
        }
      }
      .edit-post-section {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
        }
        .edit-post-form {
          top: 10vh;
          width: 50%;
          position: relative;
          .edit-post-title {
            width: 100%;
            height: 2rem;
            border: none;
            box-sizing: border-box;
            border-bottom: 1px solid $borderColor;
            background-color: rgba(255, 255, 255, 0.4);
            font-size: 2rem;
            text-align: center;
          }
          .edit-post-content {
            width: 100%;
            height: 50vh;
            box-sizing: border-box;
            border: none;
            font-size: 1rem;
            background-color: rgba(255, 255, 255, 0.4);
          }
          .submit-button {
            border: 1px solid $borderColor;
            color: $textColor;
            border-radius: 5px;
          }
        }
        .set-image-container {
          width: 30%;
          border: 1px solid $borderColor;
          box-sizing: border-box;
          height: 30vh;
          position: relative;
          .set-image-viewer {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .button {
            font-size: 2rem;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            cursor: pointer;
            position: absolute;
          }
          .upload-image-button {
            left: 3rem;
          }
        }
      }
    }
  }
}
