$outlineColor: #0077b6;
$navBarColor: #caf0f8;
//$postColor: #69c6f5;
$postColor: #00b4d8;
$textColor: #03045e;
$gradiantColor1: #90e0ef;
$gradiantColor2: #03045e;
//#8FFFEF
// $outlineColor: #c9cad9;
// $navBarColor: #d1d2f9;
// //$postColor: #69c6f5;
// $postColor: #a3bcf9;
// $textColor: #7796cb;
// $gradiantColot: #576490;

:root {
  body,
  ul,
  li {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  h1 {
    color: red;
  }

  .test {
    color: blue;
  }

  .hidden {
    display: none;
  }
  body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
  }
  #navBarContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;

    background-color: $navBarColor;
    .button {
      display: flex;
      font-weight: 700;
      color: white;
      margin: 0 10px;
      height: 90%;
      border: 1px solid white;
      align-items: center;
      border-radius: 20%;
      padding: 0 10px;
    }
    #backButton {
      cursor: pointer;
    }
    .navBarTitle {
      display: flex;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      line-height: inherit;
    }

    #newPostButton {
    }
  }
  #mainContainer {
    padding-top: 1vh;
    margin-top: 6vh;
    background: linear-gradient(
      to bottom right,
      $gradiantColor1,
      $gradiantColor2
    );
    #mainFeedSection {
      #postList {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .post-item {
          display: flex;

          width: 30%;
          height: 40vh;
          margin-bottom: 20px;
          align-items: center;
          justify-content: center;
          .postAtag {
            width: 96%;
            height: 96%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2%;
            border-radius: 10%;
            border: 3px solid $postColor;
            background-color: rgba(255, 255, 255, 0.6);

            .img-box {
              display: flex;
              width: 40%;
              height: 90%;
              img {
                width: 100%;
                height: 100%;
                //border: 2px solid green;
                object-fit: cover;
                border-radius: 5%;
              }
            }
            .post-container {
              display: flex;
              flex-grow: 3;
              flex-wrap: wrap;
              width: 60%;
              height: 90%;
              padding: 1%;
              color: $textColor;
              min-width: 0;
              flex: 1 1 auto;

              .post-title {
                display: inline-flex;
                align-items: center;
                font-size: 2rem;
                height: 20%;
                font-weight: 700;
                border-bottom: 1px solid $postColor;
                text-align: center;
                justify-content: flex-start;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
              }
              .post-content {
                display: flex;
                width: 100%;
                font-size: 1rem;
                height: 80%;
                //flex-basis: auto;
                justify-content: flex-start;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: wrap;
              }
            }
          }
        }
      }
    }
    .post-section {
      display: flex;
      align-items: center;
      justify-content: center;
      .postTitle {
      }
      .postContent {
      }
    }
  }
}
